.video-title {
  color: white;
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 100;
}

.hide {
  visibility: hidden;
}
.logo {
  background: url('~/resources/boclips-logo.svg?inline') no-repeat transparent !important;

}
