.video-title {
  color: white;
  position: absolute;
  top: 0;
  padding: 1rem;
  z-index: 100;
  font-size: 1.125rem;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.0012em;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );

  .wrapper {
    display: flex;
    flex-direction: row;
    height: 31px;

    .createdBy,
    .logo {
      font-size: 0.875rem;
      font-weight: normal;
      display: flex;
      align-items: center;
    }

    .createdBy {
      span {
        margin-left: 0.25rem;
        font-weight: bold;
      }
    }

    .logo {
      display: flex;
      margin-left: 1rem;

      svg {
        scale: 0.5;
        width: 152px;
        height: 31px;
        position: relative;
        left: -30px;
        top: 2px;
      }
    }
  }
}

.hide {
  visibility: hidden;
}
