{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "color-hex-length": "long",
    "color-hex-case": "upper",
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "/cue/"
        ]
      }
    ]
  }
}
