{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "plugin/rational-order": [
      true,
      {
        "empty-line-between-groups": true
      }
    ],
    "declaration-empty-line-before": null
  }
}