#share-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  background-color: #3d4564;
}

#general-button {
  z-index: 3;

  box-sizing: border-box;
  width: 242px;
  height: auto;
  margin-top: 42.5px;

  background-color: #3d4564;
  border: none;
  border-top: 2px solid #848fbb;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
#share-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  height: 24px;
  width: 68px;
  margin-top: 12.5px;
}
#general-button-label {
  height: 18px;
  width: 37px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 6.5px;
  color: #fafaff;
  font-family: Heebo;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}
#general-button-icon {
  width: 24px;
  height: 24px;
}
