@import '~plyr/dist/plyr.css';
@import '../../styles/colours.less';

.plyr {
  border-radius: inherit;

  &.plyr--video.plyr--menu-open {
    overflow: hidden;
  }

  .plyr__captions {
    padding: 0.5em;

    font-size: inherit;

    .plyr__caption {
      padding: 0.2em;

      line-height: 190%;
    }
  }

  input[type='range'] {
    color: @cta-blue;
  }

  .plyr__control--overlaid {
    background: @cta-blue;
  }

  .plyr__control {
    .plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
      color: #FFFFFF;

      background: @mid-blue;
    }
  }

  &--youtube {
    .plyr__control {
      .plyr__tab-focus,
      &:hover,
      &[aria-expanded='true'] {
        background: none;
      }

      &--overlaid {
        background: none;

        svg {
          width: 70px;
          height: 70px;
        }
      }
    }
  }

  .plyr--fullscreen & {
    font-size: 4.4vh;
  }

  .plyr__poster {
    background-size: cover;
  }

  .plyr__video-wrapper {
    video,
    iframe {
      max-height: 100%;
    }
  }
}

//Fix excess padding breaking play button
@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    padding: 10px 10px 10px;
  }
}

// Fix poor Plyr volume control layout
.plyr--only-mute .plyr__controls__item.plyr__volume {
  flex: initial;
}
