// --------------------------------------------------------------
// Controls
// --------------------------------------------------------------

// Hide native controls
.plyr--full-ui ::-webkit-media-controls {
  display: none;
}

// Playback controls
.plyr__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-family: inherit;
  height: 48px;
  cursor: initial;
  position: relative;



  .plyr__progress__container {
    min-width: 0; // Fix for Edge issue where content would overflow
    position: absolute !important;
    top: -10px !important;
    z-index: -1;
    height: 20px;
  }

  // Spacing
  .plyr__controls__item {
    margin-left: calc(#{$plyr-control-spacing} / 4);

    &:first-child {
      margin-left: 0;
    }

    &.plyr__progress__container {
      width: 100%;
      left: 0;
      margin: 0;
    }

    &.plyr__time {
      padding: 0 calc(#{$plyr-control-spacing} / 2);
      margin-right: auto;
    }

    &.plyr__time--duration {
      width: 100%;
      text-align: left;
    }

    &.plyr__progress__container:first-child,
    &.plyr__time:first-child,
    &.plyr__time + .plyr__time {
      padding-left: 0;
      margin-right: auto;
    }
  }

  // Hide empty controls
  &:empty {
    display: none;
  }
}

// Some options are hidden by default
.plyr [data-plyr='captions'],
.plyr [data-plyr='pip'],
.plyr [data-plyr='airplay'],
.plyr [data-plyr='fullscreen'] {
  display: none;
}

.plyr--captions-enabled [data-plyr='captions'],
.plyr--pip-supported [data-plyr='pip'],
.plyr--airplay-supported [data-plyr='airplay'],
.plyr--fullscreen-enabled [data-plyr='fullscreen'] {
  display: inline-block;
}
