// --------------------------------------------------------------
// Time
// --------------------------------------------------------------

.plyr__time {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: $plyr-font-size-time;
}

// Media duration hidden on small screens
.plyr__time + .plyr__time {
  // Add a slash in before
  &::before {
    content: '\2044';
    margin-right: $plyr-control-spacing;
  }
}

.plyr__controls__item {
  @media (max-width: ($plyr-bp-md - 1px)) {
    &:first-child {
      margin-right: auto;
    }

    &.plyr__time {
      display: none;
    }
  }
}
