// --------------------------------------------------------------
// Volume
// --------------------------------------------------------------

.plyr__volume {
  max-width: initial;
  min-width: initial;
  width: auto;
  position: relative;

  .plyr__tooltip {
    display: none;
  }

  input[data-plyr="volume"] {
    width: 100px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: -26px;
    transform-origin: left;
    transform: rotate(-90deg);
    opacity: 0;
    z-index: -1;
    transition: all .2s;
    padding: 1rem .5rem;
    border-radius: 0;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      background: #fff;
      left: 0;
      height: 100%;
      width: 100px;
      z-index: -1;
      border-radius: .25rem;
      box-shadow: $plyr-tooltip-shadow;
    }


    &:before {
      border: $plyr-menu-arrow-size solid transparent;
      border-top-color: $plyr-menu-background;
      content: '';
      height: 0;
      position: absolute;
      width: 0;
      top: 13px;
      left: -8px;
      transform: rotate(90deg);
    }


    &:focus {
      opacity: 1;
      pointer-events: inherit !important;
    }
  }

  &:hover {
    input[data-plyr="volume"] {
      opacity: 1;
      pointer-events: inherit !important;

    }
  }
}

// Auto size on iOS as there's no slider
.plyr--is-ios .plyr__volume {
  min-width: 0;
  width: auto;
}
