// --------------------------------------------------------------
// Volume
// --------------------------------------------------------------

.plyr__volume {
  max-width: initial;
  min-width: initial;
  width: auto;
  position: relative;

  input[data-plyr="volume"] {
    width: 100px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: -10px;
    transform-origin: left;
    transform: rotate(-90deg);
    opacity: 0;
    z-index: -1;
    transition: all .2s;
    padding: 1rem .5rem;
    border-radius: 0;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top:0;
      background: $plyr-video-controls-background;
      left: 12px;
      height: 100%;
      width: 94px;
      z-index: -1;
      border-radius: 0 .25rem .25rem  0;
    }

    &:focus {
      opacity: 1;
      pointer-events: inherit!important;
    }
  }

  &:hover {
    input[data-plyr="volume"] {
      opacity: 1;
      pointer-events: inherit!important;

    }
  }
}

// Auto size on iOS as there's no slider
.plyr--is-ios .plyr__volume {
  min-width: 0;
  width: auto;
}
