#replay-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: grid;
  width: 100%;
  height: 100%;

  background-color: #3d4564;
  text-align: center;
}

#replay-overlay-button {
  width: 140px;
  height: 40px;

  color: #ffffff;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-family: Heebo, Helvetica, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  background-color: #0e69ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#replay-overlay-button:hover {
  background-color: #0051bc;
}

#replay-overlay-button:focus {
  background-color: #0e69ff;
  box-shadow: 0 0 4px 1px #4189ff;
}

#replay-overlay-button:disabled {
  background-color: #e8efff;
}

#replay-overlay-button:active {
  background-color: #00217d;
}

#replay-overlay-label:disabled {
  color: #b4c8f4;
}
