#replay-overlay-button {
  width: 140px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;

  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  font-family: Heebo, Helvetica, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;

  background-color: #0E69FF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#replay-overlay-button:hover {
  background-color: #0051BC;
}

#replay-overlay-button:focus {
  background-color: #0E69FF;
  box-shadow: 0 0 4px 1px #4189FF;
}

#replay-overlay-button:disabled {
  background-color: #E8EFFF;
}

#replay-overlay-button:active {
  background-color: #00217D;
}

#replay-overlay-label:disabled {
  color: #B4C8F4;
}
